# Folders

build/*

# Files

imgui.ini
CMakeLists.txt.user
resources/textures/snapshot-9.png
resources/textures/snapshot-8.png
resources/textures/snapshot-7.png
resources/textures/snapshot-6.png
resources/textures/snapshot-51.png
resources/textures/snapshot-50.png
resources/textures/snapshot-5.png
resources/textures/snapshot-49.png
resources/textures/snapshot-48.png
resources/textures/snapshot-47.png
resources/textures/snapshot-46.png
resources/textures/snapshot-45.png
resources/textures/snapshot-44.png
resources/textures/snapshot-43.png
resources/textures/snapshot-42.png
resources/textures/snapshot-41.png
resources/textures/snapshot-40.png
resources/textures/snapshot-4.png
resources/textures/snapshot-39.png
resources/textures/snapshot-38.png
resources/textures/snapshot-37.png
resources/textures/snapshot-36.png
resources/textures/snapshot-35.png
resources/textures/snapshot-34.png
resources/textures/snapshot-33.png
resources/textures/snapshot-32.png
resources/textures/snapshot-31.png
resources/textures/snapshot-30.png
resources/textures/snapshot-3.png
resources/textures/snapshot-29.png
resources/textures/snapshot-28.png
resources/textures/snapshot-27.png
resources/textures/snapshot-26.png
resources/textures/snapshot-25.png
resources/textures/snapshot-24.png
resources/textures/snapshot-23.png
resources/textures/snapshot-22.png
resources/textures/snapshot-21.png
resources/textures/snapshot-20.png
resources/textures/snapshot-2.png
resources/textures/snapshot-19.png
resources/textures/snapshot-18.png
resources/textures/snapshot-17.png
resources/textures/snapshot-16.png
resources/textures/snapshot-15.png
resources/textures/snapshot-14.png
resources/textures/snapshot-13.png
resources/textures/snapshot-12.png
resources/textures/snapshot-11.png
resources/textures/snapshot-10.png
resources/textures/snapshot-1.png
resources/textures/snapshot-0.png
resources/textures/patches-512/
resources/models/pool2/
resources/models/
resources/textures/
